<h5>Your cart</h5>
<table class="table table-bordered table-striped">
    <thread>
        <tr>
            <th>Selected amount</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
        <tr>
            <td class="text-center">@line.Amount</td>
            <td class="text-left">@line.Item.Name</td>
            <td class="text-right">@line.Item.Price.ToString("c")</td>
            <td class="text-right">
                @{ 
                    //decimal abc = Convert.ToDecimal(line.Amount);
                    (line.Amount * line.Item.Price).ToString("c");

                }
                
            </td>
        </tr>
         }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
<td class="text-right">
    @Model.ShoppingCartTotal.ToString("c")
</td>
</tr>
</tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Check out now!</a>
</div>