body {
    background-color: #FFF0F5 !important;
}

.carousel-inner img {
    width: 100%;
    height: 500px !important;
}

/*.carrousel-item {
    height: 300px;
    overflow: hidden;
    width: 100%;
}

.carrousel-item img {
    width: 100%
}*/